@import "tailwindcss";

*{
color: #fff;
}

/* html,
body{
    width: 100%;
    height: 100%;
} */

body{
    background-color: #111;
}

#taslList::-webkit-scrollbar{
    display: none;
}

#task::-webkit-scrollbar{
    display: none;
}